@use '@/styles/_mixins/breakpoints';
@use '@/styles/_mixins/shadows';

.footer {
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: var(--zindex-content);
    padding: var(--spacing-4);
    background-color: var(--color-secondary);
    background: linear-gradient(225deg, rgba(210,200,8,1) 31%, rgb(219, 165, 50) 63%, rgb(174, 85, 137) 72%);

    button {
        position: relative;
        overflow: hidden;
    }

    ul {
        display: flex;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: 1;
        padding: 0;

        &.nl {
            background: linear-gradient(90deg, var(--color-secondary) 0%, var(--color-primary) 100%);

            li:last-of-type a {
                text-decoration: underline;
            }
        }
        
        &.en {
            background: linear-gradient(90deg, var(--color-primary) 0%, var(--color-secondary) 100%);
            
            li:first-of-type a {
                text-decoration: underline;
            }
        }

        li {
            flex: 1;
        }

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            width: 100%;
        }
    }

    @include breakpoints.min-width(md) {
        padding: var(--spacing-3) var(--spacing-5);
    }

    @include breakpoints.min-width(lg) {
        padding: var(--spacing-3) var(--spacing-6);
    }
}
