@use '@/styles/_mixins/breakpoints';

.main_container {
    height: 100vh;
}

.page_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is_scrolling {
        &::before {
            content: '';
            background: rgb(0, 0, 0, 0.65);
            mix-blend-mode: unset;
            position: absolute;
            width: 100%;
            height: 100%;
            pointer-events: none;
            z-index: var(--zindex-content);
        }
    }
}

.page_container {
    position: relative;
    padding: 0 var(--spacing-4);
    z-index: var(--zindex-content);

    @include breakpoints.min-width(md) {
        padding: 0 var(--spacing-5);
    }

    @include breakpoints.min-width(lg) {
        padding: 0 var(--spacing-6);
    }
}

.page-section {

}

.page-component {

}
