@use '@/styles/_mixins/breakpoints';

.page_background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    &.is_scrolling {
        filter: brightness(50%);
        transition: filter .5s ease-in-out;
    }
}

.page_container {
    position: relative;
    padding: var(--spacing-5) var(--spacing-4) var(--spacing-5) var(--spacing-2);
    z-index: var(--zindex-content);

    @include breakpoints.min-width(md) {
        padding: var(--spacing-6) var(--spacing-5) var(--spacing-6) var(--spacing-3);
    }

    @include breakpoints.min-width(lg) {
        padding: var(--spacing-7) var(--spacing-6) var(--spacing-7) var(--spacing-4);
    }
}

.main_container {
    margin-top: 100vh;
}

.page_section {
    height: 100vh;
}

.page-component {

}
