@use '@/styles/_mixins/breakpoints';

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: var(--nav-height-mobile);
    z-index: var(--zindex-nav);
    padding: var(--spacing-4);

    .logo {
        height: unset;
    }

    @include breakpoints.min-width(md) {
        nav {
            height: var(--nav-height);
            padding: var(--spacing-4) var(--spacing-5);
        }
    }

    @include breakpoints.min-width(lg) {
        nav {
            padding: var(--spacing-4) var(--spacing-6);
        }
    }
}
