:root {
    --color-primary: #DB3E8D;
    --color-primary-lighter: #f482bb;
    --color-primary-darker: #6b103d;

    --color-secondary: #EDE11D;
    --color-secondary-lighter: #ede87d;
    --color-secondary-darker: #d2c808;
    
    --color-text-primary: #F9F9F9;
    --color-text-primary-darker: #E1E1E1;

    --color-text-secondary: #210009;
    --color-text-secondary-lighter: #8C1F3C;
}
